* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma, serif;
    font-size: 13px;
    background: #000;
    color: #d6d5d5;
}

.page {
    min-width: 100%;
    margin: 0 auto;
    min-height: 100%;
    position: relative;
}

.grid {
    width: 1520px;
    margin: 0 auto;
    position: relative;
}

/*= Basic styles
----------------------------- */
h4  {
    color: #fd6703;
    font-family: Arial, sans-serif, bold;
    font-size: 18px;
    margin: 20px 0;
}

p {
    margin: 15px 0;
}

a {
    color: #d6d5d5;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

ul {
    margin: 15px 0;
}

li {
    padding: 0 0 0 25px;
    margin-bottom: 10px;
    list-style-type: none;
    background: url("../images/dot.png") no-repeat, left;
}

/*= Header
----------------------------- */
.header {
    background: linear-gradient(to top, #0a0a0c 0%, #2f3239 32.8%, #000000 32.9%, #000000 76.9%, #17181c 77%, #303339 100%);
}

.header .logo {
    text-decoration: none;
}

.header .logo img {
    margin: 80px 0 35px 180px;
}

.header p {
    margin: -35px 200px;
    font-size: 18px;
    color: #a8aebe;
}

.header .car {
    margin: -120px 0 -60px 800px;
}

.header .menu {
    background: #fd6003;
    padding: 10px 0 10px 100px;
    margin: 80px 0 25px 0;
}

.header .menu .item {
    padding: 10px 30px 5px 30px;
    color: #000;
    font-weight: bold;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    text-decoration: none;
    font-size: 16px;
}

.header .menu .item.active,
.header .menu .item:hover {
    color: #fd6003;
    background: #17181c;
}

/*= Columns
-------------------------------*/
.columns {
    display: flex;/* TODO: не исподьзовать в этом проекте flex */
    background: #2f3239;
}

.column_left {
    width: 33%;
    padding: 0 0 10px 45px;
    border-left: 1px dashed #d6d5d5;
    margin: 0 30px;
}

.column_center {
    width: 33%;
    padding: 0 0 10px 45px;
    border-left: 1px dashed #d6d5d5;
    margin: 0 30px;
}

.column_right {
    width: 33%;
    padding: 0 0 10px 45px;
    border-left: 1px dashed #d6d5d5;
    border-right: 1px dashed #d6d5d5;
    margin: 0 30px;
}

/*= Column Right
---------------------------------- */
.gallery {
    width: 290px;
}

.gallery img {
    border: 5px solid #fff;
    margin: 0 4px 15px 0;
}

/*= Footer
----------------------- */
.footer {
    font-family: Tahoma, serif;
    bottom: 0;
    width: 100%;
    border-bottom: 9px solid #fd6a03;
}

.footer h3 {
    color: #fd6703;
    font-family: Arial, serif, regular;
    margin: 25px 30px 15px;
}

.footer p {
    padding: 0 800px 20px 30px;
}