body {
    color: #424242;
    font: 14px Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.header {
    display: flex;
    flex-shrink: 0;
}

.logo {
    width: 600px;
    height: 140px;
    cursor: pointer;
    margin-right: -145px;
}

.left {
    flex-basis: 50%;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

.right {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 135px;
}

.menu {
    display: flex;
    width: 300px;
    height: 100%;
}

.color1 {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 10px;
    background-color: orange;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.menu-item:hover {
    background-color: grey;
    background-image: linear-gradient(
            to bottom,
            hsl(0, 0%, 100%),
            hsl(0, 0%, 50%)
    );
    cursor: pointer;
}

.menu-item:hover .color1 {
    background-color: grey;
    cursor: pointer;
}

.menu-item:hover .color2 {
    background-color: grey;
    cursor: pointer;
}

.menu-item:hover .color3 {
    background-color: grey;
    cursor: pointer;
}

.menu-item:hover .tooltip {
    display: flex;
}

.tooltip {
    position: absolute;
    background-image: url("images/tip.png");
    width: 211px;
    height: 58px;
    transform: translate(-50%, 150%);
    display: none;
    align-items: center;
    justify-content: center;
}

.tooltip span {
    transform: translate(0, 8px);
}

.menu-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.color2 {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 10px;
    background-color: cadetblue;
}

.color3 {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 10px;
    background-color: darkslategrey;
}

.rectangle {
    background-color: gray;
    width: 8px;
    height: 72px;
}

.indent {
    width: 10px;
}

.description {
    background-color: grey;
    background-image: linear-gradient(
            to bottom,
            hsl(0, 6%, 17%),
            hsl(0, 0%, 50%)
    );
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 120px;
}

.contact-parent {
    display: flex;
    width: 600px;
    margin-right: -155px;
}

.contact-content {
    display: flex;
}

textarea {
    width: 200px;
    height: 100px;
}

.footer {
    background-color: dimgray;
    height: 40px;
}

.copyright {
    justify-content: center;
    color: white;
    display: flex;
}

.copyright p {
    margin-top: 4px;
}

.contact h1 {
    color: white;
}

.contact-text p {
    color: white;
}

.contact_us {
    align-items: center;
    flex-grow: 1;
}

.height {
    display: flex;
}

.contact-form {
    width: 600px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    margin-right: -155px
}

.form {
    display: flex;
    height: 600px;
}

.form-labels {
    display: flex;
    flex-direction: column;
    padding-right: 4px;
}

.form-labels label {
    height: 34px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.form-inputs {
    display: flex;
    flex-direction: column;
}

.form-inputs input {
    height: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.form-inputs textarea {
    margin-top: 4px;
}

.form-inputs button {
    margin-top: 8px;
    width: 55px
}

.us {
    align-self: flex-start;
}

a {
    color: darkslategray;
    font-size: 18px;
    text-decoration: none;
}

h1 {
    color: white;
    font: 18px Arial, Helvetica, sans-serif;
}

.privacy h1 {
    text-decoration: underline;
}

h2 {
    font: 18px Arial, Helvetica, sans-serif;
    margin-bottom: -6px;
    padding: 0;
}