body {
    font-family: "Times New Roman", Times, serif;
}

/*
    На проекте так же используются

    в header, типы платежных систем, описание товара:
    font-family: "Verdana", Times, serif;

    в My Wishlist
    font-family: 'Arial', Times, serif;

    в footer:
    font-family: Tahoma;
*/