* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: "Times New Roman", Times, serif;
    background-image: url("../images/35.gif");
}

.page {
    width: 726px;
    margin: 0 auto;
    background-color: #fff;
    border: 5px solid #fff;
}

/*Module: Basic Styles
---------------------------------- */
a:hover {
    text-decoration: none;
}

.link img {
    height: 26px;
    width: 55px;
    cursor: pointer;
}

.link {
    display: flex;
    flex-direction: column;
    padding: 20px 0 10px 90px;
}

.arrow {
    background-color: #3a0201;
    padding: 0 30px;
    margin-top: -3px;
    border: 1px solid #fff;
    border-top: none;
}

.arrow img {
    height: 14px;
    width: 637px;
    display: flex;
    flex-direction: column;
}

h2 {
    padding: 70px 30px;
    font-size: 20px;
}

h1 {
    padding: 0 0 20px 300px;
    font-size: 20px;
}

h3 {
    color: #c38b1a;
    font-size: 20px;
    margin-left: 200px;
}

/*=Header Menu
------------------------------- */

.header {
    font-family: "Times New Roman", Times, serif;
    background-color: #200004;
    display: flex;
    height: 31px;
    margin-bottom: 10px;
    border: 1px solid #6a4101;
}

.header .logo {
    cursor: pointer;
}

.header p {
    color: #c67111;
    padding: 10px 0 0 10px;
    font-size: 11px;
}

.header a {
    color: #c67111;
}

.header_menu {
    display: flex;
    flex-direction: row;
    color: #c67111;
    font-size: 11px;
    margin-left: 528px;
}

.header_links {
    padding: 10px 5px 0 5px;
}

.header .settings_select {
    display: flex;
    flex-direction: row;
    padding: 10px 5px 0 5px;
}

.header select {
    padding: 10px 4px 0 3px;
    margin: 0 5px 5px 5px;
}

.header .add {
    text-decoration: none;
}

.content_logo {
    background-color: #3a0201;
    border: 1px solid #fff
}

.content_logo img {
    margin-left: 240px;
}

/*=Module Basic Content
--------------------------- */
.pagination {
    border: 1px solid #fff;
    margin-top: 4px;
    color: #fff8b7;
    height: 80px;
    padding: 10px 0 30px;
    text-align: center;
    background-color: #3a0201;
    background-repeat: no-repeat;
    background-position: 50% 90%;
}

.pagination.pagination_step_1 {
    background-image: url("../images/2.gif");
}

.pagination.pagination_step_2 {
    background-image: url("../images/26.gif");
}

.pagination.pagination_step_3 {
    background-image: url("../images/16.gif");
}

.pagination.pagination_step_4 {
    background-image: url("../images/11.gif");
}

.pagination .item {
    background-repeat: no-repeat;
    background-position: 50% 0;
    display: inline-block;
    padding: 30px 40px 0 40px;
    color: #fff8b7;
    text-decoration: none;
}

.pagination .item_details {
    background-image: url("../images/9.gif");
}

.pagination .item_details.active {
    background-image: url("../images/3.gif");
}

.pagination .item_payment-type {
    background-image: url("../images/8.gif");
}

.pagination .item_payment-type.active {
    background-image: url("../images/4.gif");
}

.pagination .item_payment {
    background-image: url("../images/7.gif");
}

.pagination .item_payment.active {
    background-image: url("../images/5.gif");
}

.pagination .item_finish {
    background-image: url("../images/10.gif");
}

.pagination .item_finish.active {
    background-image: url("../images/6.gif");
}

/*=Module: Contact Us
--------------------------------- */
.sing_in {
    display: flex;
    flex-direction: row;
    padding: 20px 10px;
}

.sing_in a {
    background: url("../images/15.gif")no-repeat;
    margin: -6px 0 0 15px;
    color: #c38b1a;
    padding: 8px 40px;
}

.contact_form {
    font-size: 14px;
    color: #550000;
    margin: 30px 200px;
}

.contact_form label {
    display: inline-block;
    width: 90px;
    text-align: right;
    vertical-align: top;
    padding: 10px 2px;
}

.contact_form input,
select {
    text-align: left;
    padding: 0 60px 0 0;
    margin: 10px 0;
}

.order {
    display: flex;
    flex-direction: row;
}

.order a {
    background: url("../images/14.gif")no-repeat;
    color: #ba9a1c;
    padding: 8px 40px;
    margin: 0 0 0 220px;
}

.advertising {
    background: #e7e8b0;
    margin: 30px 5px -15px 5px;
}

.advertising .image {
    height: 75px;
    width: 130px;
}

.advertising .image1 {
    margin: 8px 15px;
}

.advertising .image2 {
    margin: 13px -10px;
}

.advertising .image3 {
    margin: 9px 16px;
}

.image4 {
    margin: -105px 0 0 590px;
}

.module_contact h4 {
    color: #370000;
    padding: 20px 10px;
    font-size: 16px;
    margin-left: 265px;
}

/*Module: Payment
---------------------------------------- */
.module_payment {
    display: flex;
}

.module_payment .payment_menu {
    display: flex;
    flex-direction: column;
    padding: 60px 90px 50px 0;
}

.payment_menu img {
    margin: 5px 15px -5px -35px;
    height: 19px;
    width: 31px;
}

.module_payment .pay {
    border-bottom: 1px solid #dede;
    padding: 10px 40px;
}

.module_payment .pay label {
    margin: 0 20px;
}

/*=Module: Shipping
---------------------------------- */
.module_shipping h3 {
    color: #370000;
    font-size: 20px;
    margin: 10px 10px 0 140px;
}

.shipping-content p {
    margin: 0 0 10px 15px;
    font-size: 14px;
    color: #550000;
}

.shipping_content h4 {
    margin: 15px 0 5px 0;
    font-size: 15px;
    color: #550000;
}

.module_shipping {
    display: flex;
    flex-direction: row;
}

.module_shipping .item_table {
    margin: 45px 0 30px -206px;
}

.shipping_button {
    background: url("../images/19.gif") no-repeat;
    padding: 5px 10px 10px 36px;
    margin: 10px -5px;
}

.shipping_button a {
    color: #ba9a1c;
}

.visa_img {
    margin: -20px 0 11px 260px;
}

.purchase {
    color: #550000;
    margin: 0 0 0 165px;
}

.purchase a {
    color: #550000;
    font-size: 13px;
}

.purchase label {
    display: inline-block;
    width: 90px;
    text-align: right;
    vertical-align: top;
    padding: 10px 2px;
}

.purchase input {
    text-align: left;
    padding: 0 60px 0 0;
    margin: 10px 0;
}

.purchase input:last-child {
    text-align: left;
    padding: 0 0 0 0;
    margin: 10px 0;
}

.notes {
    padding: 40px 10px 40px 10px;
    font-size: 14px;
    color: #550000;
}

.notes p {
    text-align: center;
}

.order1 a {
    background: url("../images/21.gif")no-repeat;
    margin: 0 0 0 216px;
    color: #ba9a1c;
    padding: 8px 84px;
}

/*=Module: Table
----------------------------- */
.item_table {
    border: 1px solid #b09a68;
    margin: -10px 135px 19px 120px;
}

.table_menu {
    background: #540000;
    color: #fff;
}

.first_left {
    padding: 0 0 0 10px;
}

.second {
    padding: 4px 40px 4px 20px;
    background: none;
    color: #c59f5e;
}

.third {
    padding: 0 30px 40px 30px;
    color: #c59f5e;
}

.fourth {
    padding: 0 30px 40px 30px;
    color: #c59f5e;
}

/*=Module: Finished
-------------------------------- */
.module-finished p {
    color: #370000;
    margin: 20px 156px;
    text-align: center;
}

.module-finished a {
    color: #370000;
}

.module-finished .congratulations {
    margin: 20px 190px;
    font-size: 17px;
}

.module-finished .thanks {
    margin: 0 160px;
}

.module-finished .note {
    margin: 20px 0 -20px 0;
}

.module_button-menu {
    display: flex;
    flex-direction: row;
}

.module_button-menu .button1 {
    background: url("../images/18.gif") no-repeat;
    padding: 5px 20px 20px 31px;
    margin: 0 0 5px 155px;
}

.module_button-menu .button1 a {
    color: #ba9a1c;
}

.module_button-menu .button2 {
    background: url("../images/19.gif") no-repeat;
    padding: 5px 70px 5px 45px;
}

.module_button-menu .button2 a {
    color: #ba9a1c;
}

/*=Module: Footer
-------------------------------- */
.footer {
    display: flex;
    flex-direction: row;
    bottom: 0;
    width: 100%;
    font-family: "Times New Roman", Times, serif;
    background-color: #200004;
    color: #c69b3c;
    border: 1px solid #6a4101;
    padding: 4px 0 0 30px;
    font-size: 12px;
    border-left: none;
}

.footer p {
    padding: 8px 15px;
}

.footer_link {
    margin-inline-start: auto;
    font-size: 12px;
    display: flex;
}

.footer_link a {
    border-right: 1px solid #965909;
    margin: 6px 8px 6px 4px;
    padding: 0 8px 0 0;
    color: #965909;
}

.footer_link a:last-child {
    border-right: none;
}

.footer_menu {
    display: flex;
    flex-direction: row;
    bottom: 0;
    width: 100%;
    font-family: "Times New Roman", Times, serif;
    background-color: #200004;
    color: #c69b3c;
    border: 1px solid #6a4101;
    padding: 0 0 0 7px;
    height: 30px;
    font-size: 12px;
    border-left: none;
}

.footer_menu .wishlist {
    font-size: 20px;
    margin: 4px 25px 0 3px;
    text-decoration: none;
    display: contents;
}

.footer_menu .field {
    padding: 7px 6px;
}

.footer_menu input {
    height: 15px;
    margin: 6px 0;
}

.footer_menu a {
    margin: 3px -16px 6px 1px;
    padding: 2px 35px 4px 23px;
    color: #c69b3c;
}

.footer_menu .maximize {
    margin-left: 750px;
    padding: 4px;
}

.footer_menu .maximize1 {
    margin-left: 1280px;
    padding: 4px;
}