body {
    font-family: Arial, serif;
    background: #000;
    color: #d6d5d5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page {
    min-width: 100%;
    margin: 0 auto;
    min-height: 100%;
    position: relative;
}

/*= Header
----------------------------- */
.header {
    background: linear-gradient(#272a30, #000 80%);
}

.header img {
    margin: -120px 0 -60px 800px;
}

.header .logo img {
    margin: 80px 0 35px 180px;
}

.header p {
    margin: -35px 200px;
    font-family: "Times New Roman", serif, regular;
    font-size: 18px;
    color: #a8aebe;
}
/*help Igor-----------------------------------!!!*/
.blabla {
    background: #2d3037;
    height: 80px;
}

.header .menu {
    background: #fd6003;
    height: 30px;
    padding: 30px 0 0 100px;
}

.header .menu .item {
    padding: 0 60px;
    color: #000;
}

.header .menu .item.active {
    padding: 0 60px;
    color: #fd6003;
}

.header a {
    text-decoration: none;
}

/*= Columns
-------------------------------*/
.columns {
    display: flex;
    margin: 50px 0;
    background: #2f3239;
}

.columns .module_title  {
    color: #fd6703;
    font-family: Arial, sans-serif, bold;
    font-size: 18px;
    padding: 20px 0;
}

.column_left {
    width: 33%;
    padding: 0 0 10px 45px;
    border-left: 1px dashed #d6d5d5;
    margin: 0 30px;
}

.column_center {
    width: 33%;
    padding: 0 0 10px 45px;
    border-left: 1px dashed #d6d5d5;
    margin: 0 30px;
}

.column_right {
    width: 33%;
    padding: 0 0 10px 45px;
    border-left: 1px dashed #d6d5d5;
    border-right: 1px dashed #d6d5d5;
    margin: 0 30px;
}

.columns p {
    padding: 10px 0;
}

.columns a {
    color: #d6d5d5;
}

.columns a:hover {
    text-decoration: none;
    cursor: pointer;
}

.columns li{
    padding: 0 0 20px 25px;
    list-style-type: none;
    background: url("./images/mpv.png3.png") no-repeat, left;
}

/*= Column Right
---------------------------------- */
.column_right .gallery img {
    border: 5px solid #fff;
    margin: 13px -40px 7px 50px;
}

/*= Footer
----------------------- */
.footer {
    font-family: Tahoma, serif;
    bottom: 0;
    width: 100%;
    border-bottom: 15px solid #fd6a03;
}

.footer h3 {
    color: #fd6703;
    font-family: Arial, serif, regular;
    margin: 10px 30px;
}

.footer p {
    padding: 0 800px 20px 30px;
}