body {
    background-color:#e7e5c8;
}

div {
    color: #6e6b3d;;
}

strong {
    color: green;
}

a:hover {
    text-decoration: none;
}

a {
    color:green;
}

.header {
    display: flex;
}

.logo {
    height: 80px;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-sizing: border-box;
}

.phone {
    background-image: url("images/phone.png");
    height:88px;
    width: 274px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-sizing: border-box;
}

.phone2 > strong {
    width: 260px;
    padding-left: 70px;
    color: white;
    cursor: pointer;
}

.phone1 > strong {
    width: 280px;
    color: white;
}

.content {
    display: flex;
}

/*.divider {*/
/*    flex-grow: 1;*/

/*}*/

hr {
    width: 912px;
    border-left: 2px;
    padding-left: 20px;
    color: #b7b192;
}

.gallery{
    width: 240px;
    display: flex;
    flex-direction: column;
}

.gallery-images {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    display: flex;
    width:  940px;
    margin-left: 283px;
    background-color:#dedbbb;
    border-width:10px;
    justify-content: center;
}

.prop {
    display: flex;
    flex-direction: column;
    width: 210px;
    box-sizing: border-box;
    height:48px;
    margin-left: 40px;
}

.serv {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 220px;
    background-image: url("images/elephant.jpg");
    background-repeat: no-repeat;
    background-position: right 70px;
    margin-left: 80px;
}

.image > img {
    display: flex;
    flex-direction: column;
}
.image {
    padding: 3px 20px 3px 3px;
    box-sizing: border-box;
    border-radius: 6px;
    background-color:#b7b192;
    margin: 6px;
}

.three {
    box-sizing: border-box;
    border-radius: 5px;
    padding: 3px 3px 3px 3px;
    background-color:#b7b192
}

.butterfly {
    margin-left: -65px;
    margin-top: -60px;
}

.map {
    display: flex;
    flex-direction: column;
    margin-left: 520px;
    height: 63px;
    width: 62px;
}

.street {
    display: flex;
    flex-direction: column;
    margin-left: 520px;
    margin-top: -20px;
    font: 11px Tahoma, Arial, sans-serif;
}

.end{
    margin-top: 20px;
    margin-left: 290px;
}

p {
    font: 14px "Times New Roman", Times, serif;
}

.content > img {
    height: 420px;
    width: 510px;
    padding-left: 287px;
}

.about-us {
    width: 360px;
    padding-left: 70px;
}

li {
    text-decoration-line: underline;
}

h2 {
    padding-left: 40px;
}

.footer1 {
    display: flex;
    height: 200px;
}

.ending1 {
    padding-left: 54px
}

.center {
    padding-left: 274px;
}

.vertical {
    border-left: 2px solid #b7b192;
    height: 211px;
    position: absolute;
    left: 611px;
}

.vertical1 {
    border-left: 2px solid #b7b192;
    height: 211px;
    position: absolute;
    left: 900px;
}

.vertical2 {
    border-left: 2px solid whitesmoke;
    height: 211px;
    position: absolute;
    left: 610px;
}

.vertical3 {
    border-left: 2px solid whitesmoke;
    height: 211px;
    position: absolute;
    left: 899px;
}