body {
    color: #d5ead2;
    font-family: Arial, Helvetica, sans-serif;
    background: #17313a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page {
    width: 950px;
    margin: 0 auto;
    min-height: 100%;
    position: relative;
}

/* =Basic styles
------------------------------------------------- */
title { /* TODO: Зачем? */
    color: #61885b;
}

/* =Header
------------------------------------------------- */
/* TODO: .header .logo {} */
/* TODO: .header .menu {} */

.header {
    display: flex;
    flex-direction: row;
    background: url("../images/hat.jpg") no-repeat top;
}

.logo {
    margin: 50px 0;
}

.header_menu {
    display: flex;
    margin: 0 0 15px 10px;
}

.header_menu a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding: 0 15px;
}

.menu_features {
    background: linear-gradient(0deg, #b0cbab, #4CAF50);
    margin-right: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    padding: 0 40px;
    color: #fff;
    text-decoration: none;
    height: 130px;
    width: 240px;
}

.menu_features img {
    margin: 30px -55px;
}

.menu_demo {
    background: linear-gradient(0deg, #b5d9f3, #2b9aa8);
    margin-right: 15px;
    padding: 0 20px;
    width: 200px;
}

.menu_demo img {
    margin: 30px -40px;
}

.menu_requirements {
    background: linear-gradient(0deg, #de5c36, #dac391);
    margin-right: 15px;
    width: 200px;
}

.menu_requirements img {
    margin: 30px -85px;
}

.menu_support {
    background: linear-gradient(0deg, #a6b33a, #e0e893);
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    padding: 0 40px;
    height: 130px;
    width: 240px;
}

.menu_support img {
    margin: 32px -50px;
}

/*=Module: Columns
----------------------------- */
.columns {
    display: flex;
    margin-top: 15px;
    border-bottom: 2px solid #0c5e67;
    border-top: 2px solid #0c5e67;
}

.column_left {
    width: 70%;
    margin-top: 15px;
}

.column_right {
    width: 30%;
    margin-top: 15px;
}

/*=Module: Contact Us
--------------------------------- */
.module_contact-us .module_title {
    margin: 10px 0 -15px 35px;
    color: #61885b;
}

.module_contact-us .module_content {
    border-top: 2px solid #0c5e67;
    border-bottom: 2px solid #0c5e67;
    height: 500px;
}

.module_contact-us .form {
    margin: 20px 50px;
}

.module_contact-us .field {
    padding-bottom: 5px;
}

.module_contact-us label {
    display: inline-block;
    width: 90px;
    text-align: right;
    vertical-align: top;
}

.module_contact-us textarea {
    height: 140px;
    width: 420px;
    background-color: #beebb3;
}

.module_contact-us input {
    background-color: #beebb3;
}

.module_contact-us button {
    background: #61885b;
    color: #beebb3;
    border: 1px solid #beebb3;
    width: 125px;
    height: 25px;
    margin: 5px 0 0 95px;
}

.module_contact-us .action {
    text-align: left;
}

/*=Module: About Us
------------------------------- */
.module_about-us .module_title {
    margin-top: 10px;
}

.module_about-us .module_content {
    border-top: 2px solid #0c5e67;
}

.module_about-us p {
    margin: 10px 0 10px 0;
}

/*=Module: Testimonials
---------------------------------- */
.module_testimonials .module_content {
    height: 400px;
}

.module_testimonials a {
    background: url("../images/dot.gif") no-repeat left;
    padding: 0 20px;
    flex-direction: column;
    display: flex;
    color: #30b0cf;
}

.module_testimonials a:hover {
    text-decoration: none;
}

/*=Module: News
------------------------------------- */
.module_news .module_content {
    width: 400px;
    height: 500px;
}

.module_other_news a:hover {
    color: #30b0cf;
    margin: 0 8px;
    cursor: pointer;
}

.module_news .module_title {
    margin-bottom: 15px;
}

.module_news p {
    margin-bottom: 15px;
}

/*=Module: Other News
------------------------------------- */
.module_other-news .module_title {
    margin-bottom: 15px;
}

.module_other-news a {
    background: url("../images/dot.gif") no-repeat left;
    padding: 0 20px;
    flex-direction: column;
    display: flex;
}

/*=Module: Project
--------------------------------- */
.module_project {
    height: 500px;
}

.module_project .module_title {
    margin-bottom: 15px;
}

.project_gallery {/* TODO: родитель? */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project_gallery .item img {/* TODO: родитель? */
    border: 10px solid #254f5e;
    height: 170px;
    width: 260px;
    margin: 10px 15px;
}

.project_gallery .item:hover {/* TODO: родитель? */
    color: grey;
}

/*=Module: Services
---------------------------------- */
.module_service {
    display: flex;
    margin: 10px 0 0 5px;
    height: 500px;
}

.module_service .service {
    border-left: 1px dashed #757b82;
    padding: 0 133px 0 20px;
    margin: 5px 0 0 5px;
    height: 250px;
    color: #beebb3;
}

.module_service ul {
    font-size: 20px;
}

.module_service li {
    margin: 15px 0;
    background: url("../images/dot2.gif") no-repeat;
    list-style-type: none;
    padding: 0 0 0 20px;
}

.module_service .service:last-child {
    border-right: 1px dashed #757b82;
}

.module_service .service:first-child {
    border-right: none;
}

/*=Footer
----------------------------------- */
.footer {
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #fff;
}

.footer a {
    color: #fff;
}

/* TODO: что это? кому принадлежит? какому модулю? */
.key {
    background: #b1e1a7;
    border-radius: 15px;
    height: 200px;
    width: 300px;
    margin-top: 5px;
}
