body {
    color: #d5ead2;
    font-family: Arial, Helvetica, sans-serif;
    background: #17313a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page {
    width: 950px;
    margin: 0 auto;
    min-height: 100%;
    position: relative;
}

/* =Header menu
------------------------------------------------- */
.header {
    padding-top: 100px;
    background: url("../images/hat.jpg") no-repeat top;
    border-bottom: 2px solid #0c5e67;
}

.header .logo {
    display: inline-block;
    margin-bottom: 10px;
}

.header .menu {
    display: flex;
    margin: 0 0 15px 10px;
}

.header .menu a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding: 0 15px;
}

.header .menu .menu_features {
    background: url("../images/menu_1_text.png") no-repeat 12px 30px, linear-gradient(0deg, #b0cbab, #4CAF50);
    margin-right: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    padding: 65px 15px 0;
    color: #fff;
    text-decoration: none;
    height: 130px;
    width: 240px;
}

.header .menu .menu_demo {
    background: url(../images/menu_2_text.png) no-repeat 15px 30px, linear-gradient(0deg, #b5d9f3, #2b9aa8);
    margin-right: 15px;
    padding: 63px 20px;
    width: 200px;
    color: #fff;
    text-decoration: none;
    height: 130px;
}

.header .menu .menu_requirements {
    background: url(../images/menu_3_text.png)no-repeat 14px 30px,linear-gradient(0deg, #de5c36, #dac391);
    margin-right: 15px;
    width: 200px;
    color: #fff;
    text-decoration: none;
    height: 130px;
    padding: 60px 20px;
}

.header .menu .menu_support {
    background: url(../images/menu_4_text.png) no-repeat 15px 30px, linear-gradient(0deg, #a6b33a, #e0e893);
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    padding: 60px 20px;
    height: 130px;
    width: 240px;;
}

/*= Columns
----------------------------- */
.columns {
    display: flex;
    margin-top: 15px;
}

.column_left {
    width: 70%;
    margin-top: 15px;
}

.column_right {
    width: 30%;
    margin-top: 15px;
}

/*=Module: Contact Us
--------------------------------- */
.module_contact-us .module_title {
    margin: 10px 0 -15px 35px;
    color: #61885b;
}

.module_contact-us .module_content {
    height: 500px;
}

.module_contact-us .form {
    margin: 20px 50px;
}

.module_contact-us .field {
    padding-bottom: 5px;
}

.module_contact-us label {
    display: inline-block;
    width: 90px;
    text-align: right;
    vertical-align: top;
}

.module_contact-us textarea {
    height: 140px;
    width: 420px;
    background-color: #beebb3;
}

.module_contact-us input {
    background-color: #beebb3;
}

.module_contact-us button {
    background: #61885b;
    color: #beebb3;
    border: 1px solid #beebb3;
    width: 125px;
    height: 25px;
    margin: 5px 0 0 95px;
}

.module_contact-us .action {
    text-align: left;
}

/*=Module: About Us
------------------------------- */
.module_about-us {
    border-bottom: 2px solid #0c5e67;
}

.module_about-us .module_title {
    margin-top: 10px;
}

.module_about-us p {
    margin: 10px 0 10px 0;
}

/*=Module: Key Features
------------------------------- */
.module_key-features .key {
    background: #b1e1a7;
    border-radius: 15px;
    height: 200px;
    width: 300px;
    margin-top: 5px;
}

/*=Module: Testimonials
---------------------------------- */
.module_testimonials .module_content {
    height: 400px;
}

.module_testimonials a {
    background: url("../images/dot.gif") no-repeat left;
    padding: 0 20px;
    flex-direction: column;
    display: flex;
    color: #30b0cf;
}

.module_testimonials a:hover {
    text-decoration: none;
}

/*=Module: News
------------------------------------- */
.module_news .module_content {
    width: 400px;
    height: 500px;
}

.module_other_news a:hover {
    color: #30b0cf;
    margin: 0 8px;
    cursor: pointer;
}

.module_news .module_title {
    margin-bottom: 15px;
}

.module_news p {
    margin-bottom: 15px;
}

/*=Module: Other News
------------------------------------- */
.module_other-news .module_title {
    margin-bottom: 15px;
}

.module_other-news a {
    background: url("../images/dot.gif") no-repeat left;
    padding: 0 20px;
    flex-direction: column;
    display: flex;
}

/*=Module: Project
--------------------------------- */
.module_project {
    height: 500px;
}

.module_project .module_title {
    margin-bottom: 15px;
}

.module_project .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.module_project .gallery .item {
    display: block;
    position: relative;
    margin: 10px 15px;
}

.module_project .shadow {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: black;
    opacity: 0.4;
    display: none;
}

.module_project .gallery .item:hover .shadow {
    display: block;
}

.module_project .gallery .item img {
    border: 10px solid #254f5e;
    height: 170px;
    width: 260px;
    display: block;
}

/*=Module: Services
---------------------------------- */
.module_service {
    margin: 10px 0 0 5px;
    height: 500px;
}

.module_service .service {
    border-left: 1px dashed #757b82;
    padding: 0 133px 0 20px;
    margin: 5px 0 0 5px;
    height: 250px;
    color: #beebb3;
    width: 32%;
    float: left;
}

.module_service ul {
    font-size: 20px;
}

.module_service li {
    margin: 15px 0;
    background: url("../images/dot2.gif") no-repeat;
    list-style-type: none;
    padding: 0 0 0 20px;
}

.module_service .service:last-child {
    border-right: 1px dashed #757b82;
}

.module_service .service:first-child {
    border-right: none;
}

/*=Footer
----------------------------------- */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #fff;
    border-top: 2px solid #0c5e67;
}

.footer a {
    color: #fff;
}