.columns{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    text-align: center;

}

.column {
    width: 240px;
    border: 1px solid #d6d3d3;
    border-left-color: white;
    border-top-color: white;
}

b {
    color: red;
}

i {
    font-size: 12px;
}

p {
    color: chocolate;
    font-size: 10px;
}

h1 {
    color: green;
}

a {
    color: red;
}

.like {
    padding-left: 200px;
}

