.columns{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    text-align: center;
}

.column {
    width: 240px;
    border: 1px solid #d6d3d3;
    border-left-color: white;
    border-top-color: white;
    padding-bottom: 20px;
}

.price {
    color: red;
    font-size: 17px ;
}

i {
    font-size: 14px;
    font-style: normal;
    text-decoration: line-through;
    color: grey;
}

.limited {
    color: orange;
    font-size: 17px;
    margin: 0;
}

h1 {
    font-size: 25px;
    color: darkslategray;
}

h1 img {
    margin-right: 10px;
    vertical-align: top;
}

.name {
    display: block;
    color: black;
    margin-bottom: 10px;
    text-decoration: none;
}

.name:hover {
    color: red;
    text-decoration: underline;
}

.like {
    padding-left: 200px;
}

.img-container {
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
}