* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Times New Roman", Times, serif;
    background-image: url("../images/1.gif");
}

a {
    text-decoration: none;
    color: #fff;
}

/*
    Для контента используется
    font-family: Tahoma, Arial, sans-serif;

    Для меню выше и ниже контента используется
    font-family: "Times New Roman", Times, serif;
*/

/* =Header
------------------------------------------------- */
.header {
    font-family: "Times New Roman", Times, serif;
    background-color: #000;
    display: flex;
    height: 31px;
    margin-bottom: 10px;
}

.header .settings {
    margin-left: auto;
    padding: 7px 15px 7px 0;
    font-size: 12px;
    color: #fff;
}

.header .settings select {
    margin-left: 10px;
}

.header p {
    text-align: right;
    color: #fff;
}

/* =Menu 1
------------------------------------------------- */
.menu1 {
    width: 726px;
    margin: 0 auto;
    text-align: right;
    margin-bottom: 5px;
}

/* =Page
------------------------------------------------- */
.page {
    width: 726px;
    margin: 0 auto;
    background-color: #000;
    border: 2px solid #a36917;
}

/* =Menu 2
------------------------------------------------- */
.menu2 {
    padding-top: 5px;
}

.menu2 .item {
    padding: 0 18px 0 30px;
    margin: 8px;
    border-right: 1px solid #a36917;
}

.menu2 a:hover {
    color: #a36917;
}

.menu2 .item:last-child{
    border: none;
}

/* =Content
------------------------------------------------- */
.content {
    display: flex;
    font-family: Tahoma, Arial, sans-serif;
    padding: 13px 10px 0 14px;
}

.content img {
    margin: 0 15px 10px 0;
}

.content p {
    color: #ccc;
    font-size: 12px;
}

/* =Menu 3
------------------------------------------------- */
.menu3 {
    margin-top: 300px;
    text-align: center;
    padding-bottom: 15px;
}

.menu3 a {
    color: #8c4f0c;
}

.menu3 .item {
    padding: 0 3px 0 0;
    border-right: 1px solid #a36917;
    font-size: 12px;
}

.menu3 .item:last-child{
    border: none;
}

/* =Footer
------------------------------------------------- */
.footer {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: "Times New Roman", Times, serif;
    background-color: #000;
    border-top: 1px solid #a36917;
    border-bottom: 1px solid #a36917;
}

.footer p {
    color: #fff;
    font-size: 12px;
    padding: 7px 0 7px 20px;
}

.footer .menu {
    margin-inline-start: auto;
    padding: 7px 15px 7px 0;
    font-size: 12px;
}

.footer .menu a {
    margin-left: 10px;
}
