body {
    color: #424242;
    font: 14px Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.header {
    display: flex;
    flex-shrink: 0;
}

.logo {
    width: 600px;
    height: 140px;
    cursor: pointer;
    margin-right: -145px;
}

.left {
    flex-basis: 50%;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

.right {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 135px;
}

.shadow {
    position: absolute;
}

.right div img {
    display: flex;
    flex-direction: row;
    margin-bottom: -18px;
    position: relative;
}

.menu {
    display: flex;
    width: 300px;
    height: 100%;
}

.column menu {
    display: flex;
    flex: initial;
}

.color1 {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 10px;
    background-color: orange;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.menu-item:hover {
    background-color: grey;
    background-image: linear-gradient(
            to bottom,
            hsl(0, 0%, 100%),
            hsl(0, 0%, 50%)
    );
    cursor: pointer;
}

.menu-item:hover .color1 {
    background-color: grey;
    cursor: pointer;
}

.menu-item:hover .color2 {
    background-color: grey;
    cursor: pointer;
}

.menu-item:hover .color3 {
    background-color: grey;
    cursor: pointer;
}

.menu-item:hover .tooltip {
    display: flex;
}

.tooltip {
    position: absolute;
    background-image: url("../images/tip.png");
    width: 211px;
    height: 58px;
    transform: translate(-50%, 150%);
    display: none;
    align-items: center;
    justify-content: center;
}

.tooltip span {
    transform: translate(0, 8px);
}

.menu-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.color2 {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 10px;
    background-color: cadetblue;
}

.color3 {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 10px;
    background-color: darkslategrey;
}

.description {
    background-color: grey;
    background-image: linear-gradient(
            to bottom,
            hsl(0, 6%, 17%),
            hsl(0, 0%, 50%)
    );
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 120px;
}

.welcome-parent {
    display: flex;
    width: 600px;
    margin-right: -155px;
}

.welcome-content {
    display: flex;
}

.rectangle {
    background-color: gray;
    width: 8px;
    height: 72px;
}

.rectangle1 {
    background-color: lightgray;
    width: 8px;
    height: 86px;
    margin-bottom: 20px;
}

.indent {
    width: 10px;
}

.content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-right: -10px;
}

.content1 {
    display: flex;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: dimgray;
    flex-shrink: 0;
}

.copyright {
    color: white;
    display: flex;
}

.welcome-text p {
    color: white;
}

.height {
    height: 600px;
}

a {
    color: darkslategray;
    font-size: 18px;
    text-decoration: none;
}

h1 {
    color: white;
    font: 18px Arial, Helvetica, sans-serif;
}

.privacy h1 {
    text-decoration: underline;
}

h2 {
    font: 18px Arial, Helvetica, sans-serif;
}

.p1 img {
    height: 87px;
    width: 86px;
}

.p2 img {
    height: 87px;
    width: 86px;
}

/* =Offers2
------------------------------------------------- */
.offers2 .offer {
    border-left: 8px solid lightgray;
    margin-bottom: 20px;
    padding: 10px 90px 10px 10px;
    background: url("../images/p1.jpg") no-repeat right 0;
}

.offers2 .offer2 {
    background-image: url("../images/p2.jpg");
}
