* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #473B38;
}

.page {
    width: 950px;
    margin: 0 auto;
    min-height: 100%;
    padding-bottom: 120px;
    position: relative;
}

.columns {
    display: flex;
    padding-top: 30px;
}

.column_left {
    width: 33.33%;
}

.column_right {
    width: 66.66%;
    padding-left: 40px;
}

button {
    font-size: 14px;
    padding: 10px 87px;
    background-image: linear-gradient(to bottom, hsl(183deg 85% 58%), hsl(180deg 25% 36%));
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

a:hover {
    text-decoration: none;
}

/* =Header
------------------------------------------------- */
.header {
    border-bottom: 1px solid #bbb1b1;
    padding: 15px 0 10px;
}

.menu {
    display: flex;
    float: right;
    margin-top: 31px;
}

.menu .item {
    padding: 5px 0 0 0;
    margin: 0 15px;
    border-top: 8px solid transparent;
    color: #a1a7ad;
    text-decoration: none;
}

.menu .item:last-child {
    margin-right: 0;
}

.menu .item:hover {
    border-top-color: #584949;
}

/* =Left column
------------------------------------------------- */
.motto {
    background-color: #5c4549;
    border: 1px solid #7b685e;
    width: 400px;
    padding: 17px 10px 17px 108px;
    margin: 0 0 20px -84px;
    font-size: 14px;
    color: #decacb;
}

.motto p:first-child {
    font-size: 20px;
    margin-bottom: 10px;
}
.motto p:first-child b {
    font-size: 23px;
}

.address {
    padding: 22px 10px 35px 10px;
    background-color: #3c322f;
    border-radius: 10px
}

.address p {
    color: #988c8b;
    font-size: 12px;
    margin-bottom: 30px;
}

.address .address_address {
    color: #fff;
    font-style: italic;
}

/* =Right column
------------------------------------------------- */
.content h4 {
    font-size: 14px;
    color: #6cb9b9;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.content p,
.content ol {
    font-size: 13px;
    color: #cdbfbf;
    margin-bottom: 20px;
}

.application-form {
    background: url("../images/2.jpg") no-repeat left 0;
    padding-left: 295px;
    min-height: 195px;
    margin-bottom: 10px;
    text-align: right;
}

.application-form h3 {
    font-size: 16px;
    color: #6cb9b9;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding-right: 20px;
    margin-bottom: 10px;
}

.application-form .field {
    margin-bottom: 10px;
}

.application-form input {
    width: 168px;
}

.application-form .action {
    padding-top: 10px;
}

.application-form label {
    color: #a1a7ad;
    font-size: 12px;
    text-align: right;
}

/*=Module: Participants
----------------------------------- */
.participants-economy {
    margin-bottom: 20px;
    color: #fff;
}

.participants-all {
    float: right;
    color: #decacb;
    font-size: 12px;
}

.participants-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.participants-gallery .item {
    margin: 0 17px 17px 0;
}

.participants-gallery .item:nth-child(5n) {
    margin-right: 0;
}

.participants-gallery .item img {
    height: 105px;
    width: 105px;
    border: 10px solid #3c312f;
}

/* =Footer
------------------------------------------------- */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #6A5455;
    height: 120px;
    padding-top: 15px;
}

.footer img {
    margin-right: 10px;
    vertical-align: middle;
}

.footer a {
    color: #ffffff;
    font-size: 13px;
}