body {
    font-family: Arial, Helvetica, sans-serif;
    background: #473B38;
    height: 100%;
}

/*.page {*/
/*    width: 950px;*/
/*    margin: 0 auto;*/
/*    min-height: 100%;*/
/*    padding-bottom: 120px;*/
/*    position: relative;*/
/*}*/

/* ---------------------------------------- Content */

/*
    Для голубых заголовков
    font-family: Verdana, Arial, Helvetica, sans-serif;
*/

/* ---------------------------------------- Footer */

/*.footer {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    border-top: 1px solid #6A5455;*/
/*    height: 120px;*/
/*}*/

/* =Header
------------------------------------------------- */
.up {
    display: flex;
}

.logo {
    margin: 0 200px;
}

.menu {
    display: flex;
    margin-left: 245px;
    margin-top: 33px;
}

.menu .item {
    padding: 5px 15px;
    border-top: 8px solid transparent;
}

.menu .item:hover {
    border-top-color: #584949;
}

a {
    color: #a1a7ad;
    text-decoration: none;
}

hr {
    color: #bbb1b1;
    margin-left: 200px;
    margin-right: 200px;
}

/* =Motto
------------------------------------------------- */
.motto {
    background-color: #5c4549;
    border: 1px solid #7b685e;
    margin-left: 54px;
    margin-right: 970px;
    padding-left: 150px;
    padding-bottom: 9px;
    padding-top: 10px;
}

h1, h2, p {
    color: #a1a7ad;
}

.address p {
    color: #a1a7ad;
    font-size: 12px;
}

i {
    color: #a1a7ad;
}

.address {
    margin-left: 240px;
    margin-right: 965px;
    background-color: #443e43;
    padding: 50px 15px;
    margin-top: 25px;
    border-radius: 10px
}

button {
    padding: 5px 87px;
    background-image: linear-gradient(to bottom, hsl(183deg 85% 58%), hsl(180deg 25% 36%));
    color: white;
    cursor: pointer;
}

button:hover {
    background-image: linear-gradient(to bottom, hsl(183deg 85% 58%), hsl(180deg 25% 36%));
}

h3 {
    color: #6cb9b9;
}

h4 {
    color: #6cb9b9;
}

ol {
    color: #a1a7ad;
}

p {
    color: #a1a7ad;
}

label {
    color: #a1a7ad;
    text-align: right;
}

/* =Content: participants
------------------------------------------------- */
.participants-all {
    float: right;
}

.participants-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.participants-gallery .item img {
    height: 100px;
    width: 100px;
    margin: 0 10px 10px 0;
    border: 10px solid white;
}

.contacts {
    height: 240px;
}

.content-form {
    margin-bottom: 120px;
    padding-left: 355px;
}

.content-form .field label {
    display: inline-block;
    width: 155px;
    padding: 3px 10px;
    margin-left: -80px;
}

.label label {
    width: 95px;
}

.content-form button {
    padding: 5px 87px;
    margin-top: 15px;
}

.content {
    margin-left: 565px;
    margin-top: -550px;
    padding-left: 40px;
    padding-right: 200px;
    margin-bottom: 280px;
    background: url("../images/2.jpg") no-repeat left 0;
}

.content h4 {
    color: #6cb9b9;
}

.footer {
    display: flex;
}

.img {
    margin-left: 200px;
}

.text {
    margin-left: 10px;
    padding-top: 40px;
    font-size: 16px;
}

.footer-href {
    text-decoration: underline;
    color: #ffffff;
}